.bicimlendirme {
    color: brown;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.features {
    border: 1px solid black;
    padding: 5px;
    align-items: center;
}


.features b:hover {
    cursor: pointer;
    color: red;
}
.domAttributes{
    border: 1px solid red;
    padding: 5px;
    align-items: center;
}
.domAttributes b:hover{
    cursor: pointer;
    color: darkred;
}